:root {
    --font-family: "Poppins", sans-serif;
    --background-color: #0F1624;
    --current-color: #fff;
    --margin-left: 192px;
    --container-width: 1428px;
    --container-padding-x: 25px;
    --description-color: #c4c3c3;
    --card-max-width: 550px;
    --card-max-width-dekstop: 400px;
    --card-max-width-mobile: 350px;
    --card-max-width-mobile-s: 250px;
}